.nav-wrapper {
  display: flex;
  gap: 1rem;
  background-color: blueviolet;
  justify-content: space-between;
  align-items: center;
  height: 8vh;
  padding: 0px 28px;
  position: sticky;
}

.nav-wrapper .nav-menues {
  display: flex;
  gap: 1rem;
}
